{% extends "app.html" %}

{% block content %}

{% with messages = get_flashed_messages(with_categories=true) %}
   {% if messages %}
      {% for category, message in messages %}
         <p class="flash-container {{ category }}">{{ message }}</p>
      {% endfor %}
   {% endif %}
{% endwith %}

<div class="content-container">
   <p>Hello World</p>

   <p>
   Hello World 2
</p>

   <p>
      Fusce semper tortor non nunc pretium, eu suscipit risus dapibus. Cras molestie orci id dui tristique auctor. Nulla mi lorem, dapibus in leo et, rutrum vulputate justo. Vivamus ac tempor augue. Vivamus feugiat cursus laoreet. Quisque aliquam consequat scelerisque. Aenean pellentesque odio vitae ullamcorper fringilla. Pellentesque et pretium enim. Quisque mattis a nulla sed feugiat. Curabitur mauris ante, mattis eget posuere id, tempus at turpis.
   </p>

   <p>Email Me: <a href="mailto:blah@gmail.com">blah@gmail.com</a></p>
</div>


{% endblock %}
